<link rel="stylesheet" href="/main.css">

 <div class="flip-card-3D-wrapper">
	<div id="flip-card">
		<div class="flip-card-front"><p>{{answer}} front</p>
		</div>
		<div class="flip-card-back"><p>Back</p>
		</div>
	</div>
</div>

 <div class="flip-card-3D-wrapper">
	<div id="flip-card">
		<div class="flip-card-front"><p>{{answer}} front</p>
		</div>
		<div class="flip-card-back"><p>Back</p>
		</div>
	</div>
</div>

