<link rel="stylesheet" href="/main.css">


<h1>Cards Against Humanity Solo Edition</h1> 

<h2>Find out if you are funnier than our A.I</h2>


<h3>The Rules<h3>


<ul>
	<li>To start the game, each player is given 5 white cards.</li>
	<li>One black card will appear in the Middle of the screen.</li>
	<li>Click on the white card you would like to play that best matches the black card.
</ul>


<input class="butt" type="button" value="test"/>

