<link rel="stylesheet" href="/main.css">

<h1>Off brand Cards Against Humanity Solo Edition</h1> 

<h2>Are funnier than our A.I?</h2>


<h3>The Rules<h3>


<ul>
	<li>To start the game, each player is given 5 white cards.</li>
	<li>One black card will appear in the Middle of the screen.</li>
	<li>Click on the white card you would like to play that best matches the black card.</li>
    <li>Click next round button next round to move on</li> 
</ul>


<div class="center-button">
    <input class="butt" type="button" value="Start Game" />
</div>
