@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body
{
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    background: ivory;
    overflow: hidden;
}
.card {
  /* width: 60%;
  height: 80%;
  max-width: 300px;
  max-height: 500px;
  position: relative;
  -o-perspective: 900px;
  -webkit-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px; */
  width: 150px;
  height: 250px;
  margin: 10px auto;
  
  text-align: center;
}
.answer {
    background: rgb(255, 255, 255);
  border:3px solid rgb(8, 0, 0);
  width: 150px;
  height: 250px;
  margin: 10px auto;
  font-size: 35px;
  text-align: center;
}

.question {
    background: black;
    border:3px solid rgb(252, 249, 249);
    width: 150px;
    height: 250px;
    margin: 10px auto;
    text-align: center;
    color: white;
}
.container {
    display: flex;
    flex-direction: row;
    position: bottom;

}

.butt {
  border: 6px outset black;
  background-color: white;
  height:50px;
  widows: 70px;
  cursor:pointer;
  text-align:center
}


h1 {
  text-align:center
}

h2 {
  text-align:center
}

.center-button {
  text-align: center;
}







