<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
||||||| 121772e
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
=======
>>>>>>> bf0a4da9e21d043c2e247e8d695ce1e6fa0b7f6e
html, body
{

    background-image:url('/images/backgroun.png');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 88%;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    overflow: hidden;
}
.answer1 {
  
    background: rgb(255, 255, 255);
    border:3px solid rgb(8, 0, 0);
    width: 150px;
    height: 100px;
    margin: 10px auto;
    font-size: 35px;
    text-align: center;
}
.answer2 {
  
    background: rgb(255, 255, 255);
    border:3px solid rgb(8, 0, 0);
    width: 150px;
    height: 100px;
    margin: 10px auto;
    font-size: 35px;
    text-align: center;
}
.answer {
    background: rgb(255, 255, 255);
  border:3px solid rgb(8, 0, 0);
  width: 150px;
  height: 250px;
  margin: 10px auto;
  font-size: 35px;
  text-align: center;
}

.question {
    background: black;
    border:3px solid rgb(252, 249, 249);
    width: 150px;
    height: 250px;
    margin: 10px auto;
    text-align: center;
    color: white;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.butt {
  border: 6px outset black;
  background-color: white;
  height:50px;
  widows: 70px;
  cursor:pointer;
  text-align:center
}


h1 {
  text-align:center
}

h2 {
  text-align:center
}

.center-button {
  text-align: center;
}







