html, body
{

    background-image:url('/images/backgroun.png');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 88%;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    overflow: hidden;
}
.answer1 {
  
    background: rgb(255, 255, 255);
    border:3px solid rgb(8, 0, 0);
    width: 150px;
    height: 100px;
    margin: 10px auto;
    font-size: 35px;
    text-align: center;
}
.answer2 {
  
    background: rgb(255, 255, 255);
    border:3px solid rgb(8, 0, 0);
    width: 150px;
    height: 100px;
    margin: 10px auto;
    font-size: 35px;
    text-align: center;
}
.answer {
    background: rgb(255, 255, 255);
  border:3px solid rgb(8, 0, 0);
  width: 150px;
  height: 250px;
  margin: 10px auto;
  font-size: 35px;
  text-align: center;
}

.question {
    background: black;
    border:3px solid rgb(252, 249, 249);
    width: 150px;
    height: 250px;
    margin: 10px auto;
    text-align: center;
    color: white;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.butt {
  border: 1px outset black;
  background-color: white;
  height:50px;
  width:50px;
  cursor:pointer;
}

.butt:hover {
  background-color: white;
  color:black;
}





